$primary: #2bb9b9;
//$primary: #13bd77;
$primary-hover: #13a05d;

$primary-darken: #0D7D4F;

$attention: #C54745;
$attention-hover: #983836;

$default: #2C5157;
$default-hover: #477e85;

$info: #00CEF0;
$info-hover: #00b2d0;

$medium-grey-bg: #7A7D71;
$mud-green-bg: #72A383;
$light-green-bg: #23CABA;
$dark-violet-bg: #493A59;
$brick-bg: #B2665D;

$black: #000;
$blackish-grey: #333;
$dark-grey: #5d5d5d;
$dark-grey-1: #757575;
$medium-to-dark-grey: #ccc;
$medium-grey: #eaeaea;
$light-grey: #fafafa;
$white: #fff;