//$primary: #2bb9b9;
//$primary-hover: #239797;
//$primary: #13bd77;
//$primary-hover: #13a05d;

$primary: #28c97c;
$primary-hover: #0dbb68;


$black: #000;
$dark-grey: #232323;
$dark-grey-1: #757575;
$medium-to-dark-grey: #ccc;
$medium-grey: #eaeaea;
$light-grey: #fafafa;
$white: #fff;