@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext");
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@keyframes draw {
  0% {
    width: 0; } }
@keyframes shrink {
  100% {
    width: 0; } }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  color: #232323;
  font-family: Montserrat, sans-serif;
  font-size: 16px; }

ul {
  list-style-type: none; }

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.8em; }

p {
  margin: .5em 0; }

.container-fluid {
  width: 100%; }

.container {
  width: 80%;
  margin: auto; }

img {
  width: 100%; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover, a:active, a:visited {
    color: inherit; }

button {
  border: none;
  outline: none;
  background: none; }

.hidden {
  display: none; }

.btn {
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: max-content;
  margin-right: 5px;
  padding: 8px 20px;
  font-size: 1em;
  font-family: Montserrat, sans-serif;
  border-radius: 2px;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }
  .btn:hover, .btn:active {
    cursor: pointer; }
  .btn.btn-primary {
    color: #fff;
    background-color: #28c97c; }
    .btn.btn-primary:hover, .btn.btn-primary:active {
      background-color: #0dbb68; }
  .btn.btn-light {
    padding: 5px 10px;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    font-size: .8em;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
    .btn.btn-light.selected {
      background-color: #28c97c;
      color: #fff; }
    .btn.btn-light:hover, .btn.btn-light:active {
      cursor: pointer; }
    .btn.btn-light.disabled {
      color: #ccc;
      pointer-events: none;
      cursor: none; }
  .btn .btn-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
  .btn i {
    margin-left: 4px;
    opacity: .7; }
  .btn.xs {
    padding: 3px 7px;
    font-size: .75em; }
  .btn.sm {
    padding: 5px 10px;
    font-size: .85em; }
  .btn.md {
    padding: 8px 20px; }
  .btn.lg {
    padding: 11px 25px; }

.img-fit {
  object-fit: cover;
  width: 100%; }

.section-header {
  color: #28c97c;
  text-transform: uppercase;
  font-size: 6em;
  font-weight: 200;
  margin-top: 30px; }

.content {
  padding: 40px 0; }

header {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: 45px;
  top: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
  z-index: 100; }
  header .personal {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
    header .personal .image-container {
      width: 30px;
      height: 30px;
      margin: 0 20px;
      border-width: 2px; }
    header .personal .name {
      font-weight: 600; }
    header .personal.clipped {
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
      opacity: 1;
      visibility: visible; }
  header nav #toggle-menu-btn {
    display: none;
    background-color: #fff; }
    header nav #toggle-menu-btn .toggle {
      display: block;
      height: 2px;
      width: 15px;
      background-color: #ccc;
      margin: 3px auto;
      -webkit-transition: .4s;
      -moz-transition: .4s;
      -o-transition: .4s;
      transition: .4s; }
  header nav .nav-primary {
    height: 30px;
    padding-right: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end; }
    header nav .nav-primary .nav-item {
      height: inherit; }
      header nav .nav-primary .nav-item:hover, header nav .nav-primary .nav-item:active {
        cursor: pointer; }
        header nav .nav-primary .nav-item:hover .nav-link, header nav .nav-primary .nav-item:active .nav-link {
          color: #fff;
          background-color: #28c97c; }
    header nav .nav-primary .nav-link {
      display: -moz-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      -webkit-transition: .4s;
      -moz-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      padding: 0 15px;
      height: inherit;
      text-transform: uppercase;
      font-size: .7em; }
      header nav .nav-primary .nav-link.active {
        color: #fff;
        background-color: #28c97c; }

audio::-webkit-media-controls-panel {
  background-color: #28c97c; }

main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin: auto;
  padding: 50px; }

#personal-info {
  position: fixed;
  padding: 50px;
  text-align: center;
  width: 40%;
  left: 0; }
  #personal-info .image-container {
    width: 250px;
    height: 250px;
    margin: 0 auto 20px auto;
    border-radius: 50%;
    border: 10px solid #fff;
    overflow: hidden; }
  #personal-info .name {
    font-weight: 600; }
  #personal-info .contacts {
    font-size: .85em; }
    #personal-info .contacts .profession {
      margin-bottom: 20px; }
    #personal-info .contacts p {
      line-height: 1.5em; }

#info {
  -webkit-flex-basis: 60%;
  flex-basis: 60%; }
  #info > section {
    padding-top: 80px; }
  #info #skills .category {
    font-size: 2em; }
  #info #skills section {
    margin: 40px 0; }
    #info #skills section:first-of-type {
      margin-top: 0; }
    #info #skills section:last-of-type {
      margin-bottom: 0; }
    #info #skills section h3 {
      margin-bottom: 15px; }
  #info #skills .skill {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    padding: 13px 0; }
    #info #skills .skill:hover, #info #skills .skill:active {
      cursor: pointer;
      color: #000;
      font-weight: 600; }
      #info #skills .skill:hover .progress-bar .scale-label, #info #skills .skill:active .progress-bar .scale-label {
        opacity: 1;
        transform: translateY(0); }
      #info #skills .skill:hover .progress-bar .progress-bar-filler, #info #skills .skill:active .progress-bar .progress-bar-filler {
        background-color: #28c97c; }
      #info #skills .skill:hover .skill-name, #info #skills .skill:active .skill-name {
        transform: translateX(20%); }
    #info #skills .skill .skill-name {
      -webkit-flex-basis: 25%;
      flex-basis: 25%;
      -webkit-transition: .4s;
      -moz-transition: .4s;
      -o-transition: .4s;
      transition: .4s; }
    #info #skills .skill .progress-bar {
      -webkit-flex-basis: 75%;
      flex-basis: 75%;
      height: 2px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      background-color: #eaeaea; }
      #info #skills .skill .progress-bar .scale-label {
        position: absolute;
        border-left: 1px solid #eaeaea;
        padding: 0 0 2px 4px;
        font-size: .65em;
        color: #ccc;
        top: 15px;
        opacity: 0;
        transform: translateY(20px);
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -o-transition: .4s;
        transition: .4s; }
      #info #skills .skill .progress-bar .progress-bar-filler {
        background-color: #28c97c;
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -o-transition: .4s;
        transition: .4s; }
      #info #skills .skill .progress-bar .progress-bar-label {
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        position: absolute;
        left: 0;
        padding: 1px 0;
        font-size: .8em;
        background-color: #28c97c;
        color: transparent;
        opacity: 0;
        width: 0;
        white-space: nowrap; }
  #info #about .content p {
    margin: .8em 0 .5em 0; }
  #info #experience .education,
  #info #experience .experience,
  #info #education .education,
  #info #education .experience {
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 25px;
    padding-bottom: 15px; }
    #info #experience .education:last-of-type,
    #info #experience .experience:last-of-type,
    #info #education .education:last-of-type,
    #info #education .experience:last-of-type {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0; }
  #info #experience .period,
  #info #education .period {
    color: #757575;
    font-size: .8em; }
  #info #experience .company,
  #info #experience .institution,
  #info #education .company,
  #info #education .institution {
    font-size: 1.4em;
    margin: 0;
    line-height: 1em;
    font-weight: 600; }
  #info #projects .category {
    font-size: 2em; }
  #info #projects .project-card {
    margin: 25px 0;
    padding-bottom: 25px;
    border-bottom: 1px solid #eaeaea; }
    #info #projects .project-card:hover .btn-icon, #info #projects .project-card:active .btn-icon {
      width: 15px;
      margin-left: 7px; }
      #info #projects .project-card:hover .btn-icon .img-fit, #info #projects .project-card:active .btn-icon .img-fit {
        transform: translateX(0);
        opacity: 1;
        visibility: visible; }
    #info #projects .project-card .toggle-project-info {
      display: none; }
    #info #projects .project-card .project-name {
      font-size: 1.4em; }
    #info #projects .project-card .project-type {
      position: relative;
      background-color: #eaeaea;
      padding: 3px 5px;
      border-radius: 2px;
      font-size: .6em;
      margin-left: 10px;
      top: -2px; }
    #info #projects .project-card .project-technologies {
      color: #28c97c;
      font-size: .85em;
      margin-bottom: 15px; }
    #info #projects .project-card .project-info {
      font-size: .85em;
      width: 80%;
      margin-bottom: 15px;
      line-height: 1.7em; }
    #info #projects .project-card .btn-icon {
      overflow: hidden;
      -webkit-transition: .4s;
      -moz-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      width: 1px; }
      #info #projects .project-card .btn-icon .img-fit {
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        transform: translateX(-50px);
        opacity: 0;
        visibility: hidden; }

/*# sourceMappingURL=main.css.map */
