@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext');
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
// Variables (mixins, colors)
@import "./mixins.scss";
@import "./colors.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  @include flex;
  @include flex-wrap(wrap);

  margin: 0;
  padding: 25px;
  color: $dark-grey;

  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

header {
  @include flex-basis(100%);
  @include flex;
  @include justify-content(flex-end);
}

aside {
  padding: 50px;
  @include flex-basis(40%);
  background-color: $medium-grey;
}

main {
  padding: 50px;
  @include flex-basis(60%);
  background-color: $medium-grey;

  & > section {
    margin: 100px 0;
  }
}

ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: .5em 0 .5em 0;
  line-height: 1.5em;
}

.container-fluid {
  width: 100%;
}

.container {
  width: 80%;
  margin: auto;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:active,
  &:visited {
    color: inherit;
  }
}

button {
  border: none;
  outline: none;
  background: none;
}

.btn {
  @include inline-flex;
  width: max-content;
  margin-right: 5px;
  padding: 8px 20px;
  font-size: 1em;
  font-family: Montserrat, sans-serif;
  border-radius: 2px;
  @include main-transition;

  &:hover {
    cursor: pointer;
  }

  &.btn-primary {
    color: $white;
    background-color: $primary;

    &:hover,
    &:active {
      background-color: $primary-hover;
    }
  }

  &.btn-default {
    color: $white;
    background-color: $default;

    &:hover,
    &:active {
      background-color: $default-hover;
    }
  }

  &.btn-danger {
    color: $white;
    background-color: $attention;

    &:hover,
    &:active {
      background-color: $attention-hover;
    }
  }

  &.btn-light {

    padding: 5px 10px;
    border: 1px solid $medium-grey;
    border-radius: 2px;
    font-size: .8em;
    @include main-transition;

    &.selected {
      background-color: $primary;
      color: $white;
    }

    &:hover {
      cursor: pointer;
    }

    &.disabled {
      color: $medium-to-dark-grey;
      pointer-events: none;
      cursor: none;
    }

    &.active {
      background-color: $attention;
    }
  }

  &.xs {
    padding: 3px 7px;
    font-size: .75em;
  }

  &.sm {
    padding: 5px 10px;
    font-size: .85em;
  }

  &.md {
    padding: 8px 20px; //default
  }

  &.lg {
    padding: 11px 25px;
  }
}

.img-fit {
  object-fit: cover;
  height: 100%;
}

.section-header {
  border-top: 7px solid $black;
  color: $black;
  text-transform: uppercase;
  font-weight: 400;
  width: 30%;
  padding: 15px 0 0 15px;
}

.nav-primary {
  margin-bottom: 25px;

  .nav-item {
    display: inline-block;

    &:hover,
    &:active {
      cursor: pointer;

      .nav-link {
        color: $primary;
      }
    }
  }

  .nav-link {
    @include inline-flex;
    @include main-transition;
    padding: 0 15px;

    &.active {
      color: $primary;
    }
  }
}

.content {
  background-color: $white;
  padding: 25px;
}

#skills {

  section {
    margin: 25px 15px;
  }

  .skill {
    @include flex;
    @include align-items(center);

    padding: 5px 0;

    .skill-name {
      @include flex-basis(40%);
    }

    .progress-bar {
      position: relative;
      @include flex-basis(60%);
      height: 5px;
      @include flex;
      background-color: $white;

      .progress-bar-filler {
        background-color: $black;
        width: 80%;
      }

      .progress-bar-label {
        position: absolute;
        @include inline-flex;
        @include align-items(center);
        @include justify-content(center);
        @include align-self(center);
        left: 80%;
        padding: 3px 8px;
        font-size: .8em;
        background-color: $white;
        color: $black;
      }
    }
  }
}

#personal-info {

  text-align: center;

  .image-container {
    width: 250px;
    height: 250px;

    margin: auto;

    border-radius: 50%;
    border: 10px solid $white;

    overflow: hidden;
  }
}

#about {
}

#experience,
#education {

  .education,
  .experience {
    margin: 20px 0;
    border-bottom: 1px solid $light-grey;

    &:last-of-type {
      border-bottom: none;
    }
  }

  .period {
    color: $medium-to-dark-grey;
    font-size: .8em;
  }

  .company,
  .institution {
    font-size: 1.4em;
    margin: 0;
    line-height: 1em;
  }
}







