@import "./colors";
@import "./mixins";


#player-controls {
  .player-scale {
    position: relative;
    height: 3px;
    background-color: $medium-grey;
    margin: 15px 0;

    .player-fill {
      position: absolute;
      left: 0;
      top: 0;
      display: inline-block;
      height: inherit;
      background-color: $primary;
      width: 0;

      @include main-transition;
    }
  }

  .btn {
    height: 30px;
    width: 30px;

    &:hover,
    &:active {
      background-color: $medium-grey;
    }

    img {
      object-fit: cover;
      height: 100%;
    }

    &.active {
      background-color: $medium-grey;
    }
  }
}


