// Variables (mixins, colors)
@import "./mixins.scss";
@import "./colors.scss";
@import "./animations.scss";

@media screen and (max-width: 1250px) {

  #info {
    #skills {
      .skill {

        .skill-name {
          @include flex-basis(30%);
        }

        .progress-bar {
          @include flex-basis(70%);
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {

  .section-header {
    font-size: 3em;
  }

  .content {
    padding: 25px 0;
  }

  #personal-info {
    .image-container {
      width: 170px;
      height: 170px;
    }
  }

}

@media screen and (max-width: 960px) {
  #personal-info {
    margin-right: 25px;
  }
}

@media screen and (max-width: 768px) {

  header {
    @include align-items(center);

    nav {
      position: relative;

      #toggle-menu-btn {
        display: block;

        &.clicked {

          .toggle:first-of-type {
            transform: rotate(45deg);
            position: relative;
            top: 5px;
          }

          .toggle:nth-of-type(2) {
            opacity: 0;
          }

          .toggle:last-of-type {
            transform: rotate(-45deg);
            position: relative;
            top: -5px;
          }
        }
      }

      .nav-primary {
        position: absolute;
        top: 37px;
        right: 0;
        width: auto;
        height: auto;
        padding-right: 0;
        background-color: $white;

        @include flex-direction(column);
        @include translate(101%);
        @include main-transition;

        border: 1px solid $medium-grey;

        .nav-item {
          height: auto;
          width: 100%;
          border-bottom: 1px solid $medium-grey;

          &:last-of-type {
            border-bottom: none;
          }
        }

        .nav-link {
          @include flex;
          @include align-items(center);
          @include justify-content(flex-start);
          padding: 20px 50px;
          font-size: 1em;
        }

        &.visible {
          @include translate(0);
        }
      }
    }
  }

  main {
    padding: 45px 0 0 0;
  }

  #personal-info {
    position: static;
    @include flex-basis(100%);
    padding: 25px 0;
    margin-right: 0;
  }

  #info {
    @include flex-basis(100%);

    & > section {
      padding: 20px 50px;

      &:nth-of-type(odd) {
        background-color: $light-grey;
      }
    }

    .section-header {
      margin-top: 10px;
    }

    #skills{
      .category{
        font-size: 1.5em;
      }
    }

    #projects {
      .category{
        text-align: center;
        font-size: 1.5em;
      }
      .project-card {
        background-color: #fff;
        padding: 25px;

        .project-info {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {

  #info {
    #skills {
      .skill {
        @include flex-wrap(wrap);
        padding: 10px 0;

        &:hover,
        &:active {

          padding: 25px 0 35px 0;

          .skill-name {
            transform: translate(0, -7px);
          }
        }

        .skill-name {
          @include flex-basis(100%);
          margin-bottom: 8px;
        }

        .progress-bar {
          @include flex-basis(100%);
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {

  #info {

    #skills {
      .skill {
        &:hover,
        &:active {
          .progress-bar {
            .scale-label {
              &:nth-of-type(even) {
                opacity: 0;
              }
            }
          }
        }
      }
    }

    #projects {
      .project-card {

        .project-info {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {

  .section-header {
    font-size: 2em;
    text-align: center;
    font-weight: 400;
  }

  #about {

    .content {
      padding: 0 18px;
    }
  }

  #info {
    & > section {
      padding: 20px 25px;
    }

    #experience,
    #education {

      .education,
      .experience {
        margin-bottom: 10px;
        padding: 10px 18px;
        background-color: $light-grey;

        &:last-of-type {
          padding-bottom: inherit;
        }
      }

      .education {
        background-color: $white;
      }

      .period {
        color: $primary;
        font-size: .8em;
      }

      .company,
      .institution {
        font-size: 1.2em;
      }
      .education-type {
        font-size: .8em;
      }
    }

    #projects {
      .project-card {
        //border-bottom: none;
        background-color: $white;
        padding: 10px 18px 25px 18px;

        .toggle-project-info {
          display: inline-block;
        }

        .project-name {
          font-size: 1.2em;
        }

        .project-info {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  #about {

    .content {
      padding: 0;
    }
  }
}

@media screen and (max-width: 320px) {
}