@keyframes draw {
  0% {
    width: 0; } }
@keyframes shrink {
  100% {
    width: 0; } }
.graph-0 {
  left: 0%; }

.graph-1 {
  left: 10%; }

.graph-2 {
  left: 20%; }

.graph-3 {
  left: 30%; }

.graph-4 {
  left: 40%; }

.graph-5 {
  left: 50%; }

.graph-6 {
  left: 60%; }

.graph-7 {
  left: 70%; }

.graph-8 {
  left: 80%; }

.graph-9 {
  left: 90%; }

.graph-10 {
  left: 100%; }

#js {
  animation: draw 1s ease-in-out;
  animation-delay: 0s;
  width: 85%; }

#react {
  animation: draw 1s ease-in-out;
  animation-delay: 0s;
  width: 87%; }

#angular {
  animation: draw 1s ease-in-out;
  animation-delay: 0s;
  width: 42%; }

#html {
  animation: draw 1s ease-in-out;
  animation-delay: 0s;
  width: 86%; }

#css {
  animation: draw 1s ease-in-out;
  animation-delay: 0s;
  width: 82%; }

#sass {
  animation: draw 1s ease-in-out;
  animation-delay: 0s;
  width: 38%; }

#bootstrap {
  animation: draw 1s ease-in-out;
  animation-delay: 0s;
  width: 70%; }

#photoshop {
  animation: draw 1s ease-in-out;
  animation-delay: 0s;
  width: 93%; }

#illustrator {
  animation: draw 1s ease-in-out;
  animation-delay: 0s;
  width: 80%; }

#in-design {
  animation: draw 1s ease-in-out;
  animation-delay: 0s;
  width: 90%; }

#info #skills .skill:hover .progress-bar .progress-bar-label.js {
  animation: draw 1s ease-in-out;
  animation-delay: 0s;
  width: 85%;
  opacity: 1;
  color: #fff;
  padding: 1px 8px; }

#info #skills .skill:hover .progress-bar .progress-bar-label.react {
  animation: draw 1s ease-in-out;
  animation-delay: 0s;
  width: 87%;
  opacity: 1;
  color: #fff;
  padding: 1px 8px; }

#info #skills .skill:hover .progress-bar .progress-bar-label.angular {
  animation: draw 1s ease-in-out;
  animation-delay: 0s;
  width: 42%;
  opacity: 1;
  color: #fff;
  padding: 1px 8px; }

#info #skills .skill:hover .progress-bar .progress-bar-label.html {
  animation: draw 1s ease-in-out;
  animation-delay: 0s;
  width: 86%;
  opacity: 1;
  color: #fff;
  padding: 1px 8px; }

#info #skills .skill:hover .progress-bar .progress-bar-label.css {
  animation: draw 1s ease-in-out;
  animation-delay: 0s;
  width: 82%;
  opacity: 1;
  color: #fff;
  padding: 1px 8px; }

#info #skills .skill:hover .progress-bar .progress-bar-label.sass {
  animation: draw 1s ease-in-out;
  animation-delay: 0s;
  width: 38%;
  opacity: 1;
  color: #fff;
  padding: 1px 8px; }

#info #skills .skill:hover .progress-bar .progress-bar-label.bootstrap {
  animation: draw 1s ease-in-out;
  animation-delay: 0s;
  width: 70%;
  opacity: 1;
  color: #fff;
  padding: 1px 8px; }

#info #skills .skill:hover .progress-bar .progress-bar-label.photoshop {
  animation: draw 1s ease-in-out;
  animation-delay: 0s;
  width: 93%;
  opacity: 1;
  color: #fff;
  padding: 1px 8px; }

#info #skills .skill:hover .progress-bar .progress-bar-label.illustrator {
  animation: draw 1s ease-in-out;
  animation-delay: 0s;
  width: 80%;
  opacity: 1;
  color: #fff;
  padding: 1px 8px; }

#info #skills .skill:hover .progress-bar .progress-bar-label.in-design {
  animation: draw 1s ease-in-out;
  animation-delay: 0s;
  width: 90%;
  opacity: 1;
  color: #fff;
  padding: 1px 8px; }

#info #skills .skill:hover .progress-bar .progress-bar-filler#js {
  opacity: 0; }

#info #skills .skill:hover .progress-bar .progress-bar-filler#react {
  opacity: 0; }

#info #skills .skill:hover .progress-bar .progress-bar-filler#angular {
  opacity: 0; }

#info #skills .skill:hover .progress-bar .progress-bar-filler#html {
  opacity: 0; }

#info #skills .skill:hover .progress-bar .progress-bar-filler#css {
  opacity: 0; }

#info #skills .skill:hover .progress-bar .progress-bar-filler#sass {
  opacity: 0; }

#info #skills .skill:hover .progress-bar .progress-bar-filler#bootstrap {
  opacity: 0; }

#info #skills .skill:hover .progress-bar .progress-bar-filler#photoshop {
  opacity: 0; }

#info #skills .skill:hover .progress-bar .progress-bar-filler#illustrator {
  opacity: 0; }

#info #skills .skill:hover .progress-bar .progress-bar-filler#in-design {
  opacity: 0; }

/*# sourceMappingURL=test.css.map */
